<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            <div class="logo">
              <img src="/img/scpmLogo.ico" alt="logo">
            </div>
            
            <h5 class="pt-3">
              <i class="bi bi-people-fill"></i>
              Employees
            </h5>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/about">
            <h5>
              <i class="bi bi-info-circle"></i>
              About
            </h5>
          </a>

          <a class="nav-link" href="/job-tracking">
            <h5>
              <i class="bi bi-geo-alt"></i>
              Job Tracking
            </h5>
          </a>

          <a class="nav-link" href="/tool">
            <h5>
              <i class="bi bi-tools"></i>
              Tool
            </h5>
          </a>
        </li>

       

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <h5>
              <i class="bi bi-rulers"></i>
              Gage
            </h5>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/">
              <i class="bi bi-list-ol"></i>
              Gage List
              </a>
            </li>
            
            <li>
              <a class="dropdown-item" href="/">
                <i class="bi bi-send"></i>
              Instrument
              </a>
            </li>
          </ul>
        </li> -->

        <!-- Test Here -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            <div class="logo">
              <img src="/img/scpmLogo.ico" alt="logo">
            </div>
          </a>
        </li>

        <!-- <h4 class="pt-3">Main Menu</h4> -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            <h4 class="pt-3">Main Menu</h4>
          </a>
        </li>
        
        <li>
          <span class="material-symbols-outlined">group</span>
          <a href="/">Employees</a>
        </li>
        <li>
          <span class="material-symbols-outlined">show_chart</span>
          <a href="/">Revenue</a>
        </li>
        <li>
          <span class="material-symbols-outlined">flag</span>
          <a href="#">Reports</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            <h4 class="pt-3">Advanced</h4>
          </a>
        </li>

       

        <li>
          <span class="material-symbols-outlined">speed</span>
          <a href="#"class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
          aria-expanded="false" aria-controls="pages">Gage</a>
            <div class="gage-list">
              <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link"><i class="fa-solid fa-gauge"></i>
                    All gages</a>
                </li>
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link"><i class="fa-solid fa-cart-shopping"></i>
                    Order</a>
                </li>
                <li class="sidebar-item">
                  <a href="#" class="sidebar-link"><i class="fa-solid fa-car"></i>
                    Loan</a>
                </li>
            </ul>
            </div>
        </li>

        
        <li>
          <span class="material-symbols-outlined">construction</span>
          <a href="#">Tooling</a>
        </li>
        <li>
          <span class="material-symbols-outlined">settings</span>
          <a href="#">Settings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            <h4 class="pt-3">Utilities</h4>
          </a>
        </li>

        <li>
          <span class="material-symbols-outlined">info</span>
          <a href="/about">About</a>
        </li>
        <li>
          <span class="material-symbols-outlined">logout</span>
          <a href="#">Logout</a>
        </li>
        



      </ul>
    </div>
  </nav>